.component-wrapper {
  width: 100%;
  max-width: 75%;
  height: 100%;
  padding: 10px;
  overflow: auto;
}

.component-props-doc-container {
  padding: 10px;
  margin-bottom: 2.5rem;
}

.component-props-container {
  padding: 10px;
}

.component-props-doc-row {
  padding-top: 3px;
  padding-bottom: 3px;
}

.component-props-doc {
  padding-left: 10%;
  word-wrap: break-word;
}

.component-desc {
  font-size: 1.25rem;
  font-weight: 300;
}

.title-desc-section {
  padding: 10px;
  padding-bottom: 5px;
  margin-bottom: 2.5rem;
}

.component-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin-bottom: 0px;
}

.props-input-warn {
  font-size: 12px;
  color: grey;
}

.props-input-container {
  padding-bottom: 10px;
}

.badge {
  line-height: 1.5 !important;
}

.component-box {
  border: .2rem solid #ececec;
  padding: 1rem;
  border-radius: 8px 8px 0 0;
}

.component-editor {
  border: .2rem solid #ececec;
  border-radius: 0 0 8px 8px;
}

.component-editor:focus {
  outline: none !important;
}

.component-editor textarea:focus {
  outline: none !important;
}