.layout-cell {
  margin-top: 5px;
  min-height: 300px;
}

.layout-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.main-wrapper {
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  padding-top: 10px;
}