.sidebar-wrapper {
  background-color: #f7f7f7;
  border-right: 1px solid #ececec;
}

.sidebar-list-item {
  padding-top: .25rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgba(26,26,26,.75);
  transition: color .2s ease-out;
}

.sidebar-item-link {
  color: rgba(26,26,26,.75);
  transition: color .2s ease-out;
  overflow: hidden;
}

.sidebar-item-link:hover {
  text-decoration: none;
  color: #999;
}

.topbar-search-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.topbar-content {
  border-top: 1px solid #ececec;
}

.topbar-wrapper {
  display: flex;
  flex-direction: column;
}

.sidebar-search-wrapper {
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}