.sidebar-wrapper {
  max-width: 16%;
  background-color: #f7f7f7;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ececec;
}

.sidebar-list-item {
  padding-top: .25rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgba(26,26,26,.75);
  transition: color .2s ease-out;
}

.sidebar-list-item:hover {
  cursor: pointer;
  color: #999;
}